[Desktop Entry]
Comment=An elegant Linux app for the Elgato Stream Deck with support for plugins
Exec=/usr/bin/streamcontroller
GenericName=Stream Deck
Icon=/opt/streamcontroller/flatpak/icon_256.png
Name=StreamController
Terminal=false
StartupNotify=true
StartupWMClass=com.core447.StreamController
Type=Application
